<div id="login" class="col s6 offset-s3">
        <h1>Reset your pass</h1>
        <form action="/auth/reset" method="POST">
          <div class="input-field">
                <input name="email"  id="email" type="text" class="validate" required>
                <label for="email">Your Email</label>
                <span class="helper-text" data-error="Type your email"></span>
          </div>

          <button type="submit" class="btn btn-primary reset-btn">Reset your pass</button>

          <input name="_csrf" type="hidden" value="{{csrf}}">
      </form>
    </div>