<h1>This is cart page</h1>

{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td><button class="btn btn-primary">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p class="big"><strong>Price:</strong><span class="price"> {{price}} </span> </p>
{{else}}
    <p>There aren't any courses</p>
{{/if}}